@import url("https://fonts.googleapis.com/css2?family=Jost");
@import url("https://fonts.googleapis.com/css2?family=Barlow");

:root {
  --font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  --primary-color: #000000;
  --button-background: #000000;
  --button-text: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

.div h1 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
  margin: 1rem;
  text-align: center;
}

.iframe-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  min-height: 100%;
  overflow: hidden;
}

.parent iframe {
  width: 100vw;
  height: 56.25vh;
  min-height: 120vh;
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 49.3%;
  opacity: 0.5;
  z-index: -1;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.div1,
.div2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div2 img {
  opacity: 1;
  width: 50vw;
}

.div1 p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.div1 h1 {
  font-size: 4vw;
  text-align: right;
  margin: 6vh;
}

.solid {
  border-top: 2px solid var(--primary-color);
  width: 50vw;
}

.photo {
  position: relative;
  width: 40vw;
}

.div3 {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10vh;
  text-align: center;
}

button.contact {
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem;
}

@media screen and (max-width: 1070px) {
  .iframe-wrapper {
    display: none;
  }

  .parent {
    width: 100%;
    height: 100%;
  }

  .parent iframe {
    display: none;
  }

  .div1 {
    text-align: center;
  }

  .div2 img {
    width: 100%;
  }
}
